.headerImgContainer {
  width: min(90%, 450px);
  aspect-ratio: 288/30;
  margin: 0 auto;
}

.headerImg {
  width: 100%;
  height: 100%;
}

.primaryBgColor {
  background-color: var(--ion-color-primary);
  --background: var(--ion-color-primary);
}

.lightBgColor {
  background-color: var(--ion-color-light);
  --background: var(--ion-color-light);
}
