p {
  margin-left: 20px;
}

.botones-casos {
  width: 50%;
}

ion-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  height: 3.5em;
}

.botones-inferiores {
  width: 70px;
}

.titulo-casos {
  font-size: 28px;
  color: #8400ff;
  text-align: center;
}

.tittle-style {
  font-size: 40px;
  color: #8400ff;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

.subtittle-style {
  font-size: 24px;
  color: #8400ff;
  text-align: center;
}

.header-style {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
