p {
  margin-left: 20px;
}

.botones-casos {
  width: 50%;
}

ion-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  height: 3.5em;
}

.botones-inferiores {
  width: 70px;
}

.titulo-casos {
  font-size: 28px;
  color: #8400ff;
  text-align: center;
}
