.header {
  height: 80px;
}

.emptyMessage {
  text-align: center;
  margin-top: 1rem;
}

.message {
  margin: 0.5rem;
}

.messageContent {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.messageDetail {
  color: #666;
}

.messageTime {
  font-size: 0.85rem;
}

.inputContainer {
  display: flex;
  background-color: white;
  min-width: 100%;
  position: fixed;
  bottom: 1rem;
  padding-inline: 0.6rem;
}

.adjuntoOptionsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.adjuntoBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.adjuntoIcon {
  font-size: 2rem;
  color: var(--ion-color-primary);
}

.audioRecorder {
  background-color: white !important;
  box-shadow: none !important;
  border-width: 1px;
  border-color: var(--ion-color-primary) !important;
  border-style: solid;
}

.chatImage {
  height: 250px;
}
