.header {
  margin: 20px 0 0;
  text-align: center;
  font-size: 1.5rem;
}

.roomItem {
  padding: 10px;
}

.roomItem:active, .roomItemContent:active {
  background-color: #f0f0f0;
}

.roomItemContent {
  display: flex;
  flex-direction: column;
}

.roomTitle {
  font-size: 1.2rem;
}

.roomSubtext {
  color: #666;
  margin-block: 3px;
}

.emptyMessage {
  text-align: center;
  width: 100%;
}

.createBtn {
  margin-bottom: 15px;
}
