.card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}

.caso-nombre {
  font-size: 1.2em;
  font-weight: 500;
  font-style: light;
}

.caso-desc {
  font-size: 1em;
  font-weight: 100;
  font-style: italic;
}

.card-styles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.row-styles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.sc-ion-button {
  display: flex;
  align-items: space-between;
  z-index: 99;
  justify-content: space-between;
}

.init-div-style {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.botones-caso {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: aliceblue;
}

.botones-header {
  margin: 16px 0px 16px 0px;
  display: flex;
  flex-direction: row;
}

.tittle-style {
  font-size: 40px;
  color: #8400ff;
  text-align: center;
  margin: 0px;
}

.subtittle-style {
  font-size: 24px;
  color: #8400ff;
  text-align: center;
}

.header-style {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-style {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  font-weight: 100;
  padding: 2.5px;
  text-align: center;
}
