.card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
}

.caso-nombre {
  font-size: 1.2em;
  font-weight: 500;
  font-style: light;
}

.caso-desc {
  font-size: 1em;
  font-weight: 100;
  font-style: italic;
}

.card-styles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.row-styles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.sc-ion-button {
  display: flex;
  align-items: space-between;
  z-index: 99;
  justify-content: space-between;
}
