.userItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 6px;
}

.userTitle {
  font-size: 1.2rem;
}

.userSection * {
  text-align: start;
}

.userDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
